body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #222;
}

header {
    background-color: #272121;
    color: white;
    text-align: center;
    padding: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

main {
    padding: 20px;
}

footer {
    background-color: #ddd;
    text-align: center;
    padding: 15px;
}
.content {
    max-width: 900px;
    margin: auto;
}

.info-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

#about {
    border-left: 5px solid #444;
}

#music {
    border-left: 5px solid #777;
}
.flex-container {
    display: flex;
    gap: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #333;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover,
nav ul li a:focus {
    text-decoration: underline;
}